flows/demo.json
[{"id":"b97f8584.9327e8","type":"tab","label":"Flow 1"},{"id":"eca65a06.2d09c8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#246660","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#097479","value":"#236660","edited":true},"page-titlebar-backgroundColor":{"value":"#246660","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#3fb1a7","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#246660","edited":false},"widget-borderColor":{"value":"#333333","edited":false}}},"site":{"name":"Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c8406552.b42ea8","type":"ui_group","z":"","name":"Default","tab":"585ade3c.52b5d","disp":false,"width":"12"},{"id":"585ade3c.52b5d","type":"ui_tab","z":"","name":"Login","icon":"login"},{"id":"46ede668.8cc488","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":2},{"id":"698bac65.f9d734","type":"ui_group","z":"","name":"Device Info","tab":"46ede668.8cc488","order":3,"disp":true,"width":"6"},{"id":"fb5831c3.5f44d","type":"ui_group","z":"","name":"Current data","tab":"46ede668.8cc488","order":2,"disp":true,"width":"6"},{"id":"e9b79d3e.1fc56","type":"ui_group","z":"","name":"User","tab":"46ede668.8cc488","order":1,"disp":true,"width":"6"},{"id":"1c6d899d.4aa126","type":"http request","z":"b97f8584.9327e8","name":"get device data","method":"GET","ret":"txt","url":"http://localhost:8111/api/device/staticdata/0.0.0.11","tls":"","x":814.5,"y":279,"wires":[["bc8cc9bd.995118"]]},{"id":"bc8cc9bd.995118","type":"json","z":"b97f8584.9327e8","name":"","x":121.5,"y":335,"wires":[["21025169.fd516e","3258b3ac.23d2ec","6d1092d.9a0fc6c","faa7cd8d.0dcaf"]]},{"id":"61117852.772738","type":"ui_gauge","z":"b97f8584.9327e8","name":"voltage","group":"fb5831c3.5f44d","order":1,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"V","format":"{{value}}","min":0,"max":"500","colors":["#ab0712","#41c93e","#b33520"],"x":546.5,"y":347,"wires":[]},{"id":"21025169.fd516e","type":"function","z":"b97f8584.9327e8","name":"parse_latest_data","func":"voltage = msg.payload.latest_data.voltage;\npower = msg.payload.latest_data.power;\nmsg1 = msg;\nmsg2 = {};\nmsg1.payload = voltage;\nmsg2.payload = power;\nreturn [msg1, msg2];","outputs":"2","noerr":0,"x":335.5,"y":366,"wires":[["61117852.772738"],["6f691c47.3c7e14","f1a28453.f50cf8"]]},{"id":"6f691c47.3c7e14","type":"ui_gauge","z":"b97f8584.9327e8","name":"power","group":"fb5831c3.5f44d","order":2,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"Watts","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"x":536.5,"y":388,"wires":[]},{"id":"bbb64849.738f58","type":"ui_form","z":"b97f8584.9327e8","name":"login_form","label":"Login","group":"c8406552.b42ea8","order":1,"width":0,"height":0,"options":[{"label":"Username","value":"username","type":"text","required":true},{"label":"Password","value":"password","type":"password","required":true}],"formValue":{"username":"","password":""},"payload":"","topic":"Login Form","x":66.5,"y":32,"wires":[["cd7611a1.76b1d"]]},{"id":"49996d11.7b7914","type":"http request","z":"b97f8584.9327e8","name":"","method":"POST","ret":"obj","url":"","tls":"","x":321.5,"y":24,"wires":[["626efa9e.6f58a4"]]},{"id":"cd7611a1.76b1d","type":"function","z":"b97f8584.9327e8","name":"auth_request","func":"msg.url = global.get('server_url') + global.get('apis').login_path;\nmsg.headres = {\n    \"content-type\": \"application/json\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":194.5,"y":93,"wires":[["49996d11.7b7914"]]},{"id":"626efa9e.6f58a4","type":"function","z":"b97f8584.9327e8","name":"auth_check","func":"notification_msg = {};\nui_msg = {};\nif(msg.statusCode == 200)\n{\n    ui_msg.payload = 0;\n    global.set('user_token', msg.payload.token)\n    notification_msg.payload = \"Login success\";\n}\nelse\n{\n    ui_msg.payload = 1;\n    msg.payload = {'token': null};\n    notification_msg.payload = \"Login error\";\n}\nreturn [ui_msg, notification_msg];","outputs":"2","noerr":0,"x":500.5,"y":30,"wires":[["fac6f9f9.29ccd8"],["ddb97675.336968"]]},{"id":"95757609.7d4d58","type":"function","z":"b97f8584.9327e8","name":"make_request","func":"if(msg.payload)\n{\n    var token = msg.payload.token;\n    if(token){\n        msg[\"headers\"] = {\n            \"content-type\": \"application/json\",\n            \"Authorization\": \"Token \" + token\n        }\n        return msg;\n    }\n}\nreturn null;","outputs":1,"noerr":0,"x":594.5,"y":228,"wires":[["3a2e110b.cbf92e","1c6d899d.4aa126"]]},{"id":"fac6f9f9.29ccd8","type":"ui_ui_control","z":"b97f8584.9327e8","name":"ui control","x":696.5,"y":85,"wires":[["95757609.7d4d58"]]},{"id":"a4811ae2.d4beb8","type":"inject","z":"b97f8584.9327e8","name":"counter","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"x":99.5,"y":224,"wires":[["125d40d5.28425f"]]},{"id":"125d40d5.28425f","type":"function","z":"b97f8584.9327e8","name":"auth check","func":"var token = global.get('user_token');\nvar msg1 = null;\nif(token)\n{\n    msg.payload = 0;\n    msg1 = {};\n    msg1.payload = {}\n    msg1.payload.token = token;\n    \n}\nelse\n    msg.payload = 1;\nreturn [msg, msg1];","outputs":"2","noerr":0,"x":297.5,"y":224,"wires":[["fac6f9f9.29ccd8"],["95757609.7d4d58"]]},{"id":"62c2342c.e19ebc","type":"debug","z":"b97f8584.9327e8","name":"","active":true,"console":"false","complete":"true","x":838.5,"y":134,"wires":[]},{"id":"f1a28453.f50cf8","type":"ui_chart","z":"b97f8584.9327e8","name":"power chart","group":"fb5831c3.5f44d","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"3000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":557.5,"y":442,"wires":[[],[]]},{"id":"fbaf41e4.a7fb6","type":"ui_button","z":"b97f8584.9327e8","name":"logout","group":"e9b79d3e.1fc56","order":4,"width":0,"height":0,"label":"Logout","color":"","bgcolor":"","icon":"logout","payload":"","payloadType":"str","topic":"","x":174.5,"y":656,"wires":[["40cc7a7a.7bd674"]]},{"id":"ddb97675.336968","type":"ui_toast","z":"b97f8584.9327e8","position":"bottom right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Login error","x":900.5,"y":63,"wires":[]},{"id":"40cc7a7a.7bd674","type":"function","z":"b97f8584.9327e8","name":"logout","func":"msg.payload = 1;\nglobal.set('user_token', null);\nreturn msg;","outputs":1,"noerr":0,"x":332.5,"y":693,"wires":[["ec0071ae.1ed8"]]},{"id":"ec0071ae.1ed8","type":"ui_ui_control","z":"b97f8584.9327e8","name":"ui control","x":504.5,"y":655,"wires":[[]]},{"id":"3a2e110b.cbf92e","type":"http request","z":"b97f8584.9327e8","name":"get user data","method":"GET","ret":"obj","url":"localhost:8111/api/user/details/","tls":"","x":802.5,"y":226,"wires":[["6e68b5c.657c64c","b6367684.4770a8","c6b9d674.ef1b18"]]},{"id":"6e68b5c.657c64c","type":"ui_text","z":"b97f8584.9327e8","group":"e9b79d3e.1fc56","order":1,"width":0,"height":0,"name":"","label":"Name","format":"{{msg.payload.name}}","layout":"row-spread","x":1145.5,"y":219,"wires":[]},{"id":"b6367684.4770a8","type":"ui_text","z":"b97f8584.9327e8","group":"e9b79d3e.1fc56","order":2,"width":0,"height":0,"name":"","label":"Description","format":"{{msg.payload.description}}","layout":"row-spread","x":1164.5,"y":263,"wires":[]},{"id":"c6b9d674.ef1b18","type":"ui_template","z":"b97f8584.9327e8","group":"e9b79d3e.1fc56","name":"devices_list","order":3,"width":0,"height":0,"format":"<div>\n    Devices:\n    <ul>\n        <li ng-repeat=\"dev in msg.payload.devices\">\n            <a href=\"\" ng-click=\"selected_device=dev.ip_address\">{{dev.ip_address}}</a>\n        </li>\n    </ul>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":1163.5,"y":311,"wires":[[]]},{"id":"3258b3ac.23d2ec","type":"ui_text","z":"b97f8584.9327e8","group":"698bac65.f9d734","order":0,"width":0,"height":0,"name":"ip_address","label":"Device","format":"{{msg.payload.ip_address}}","layout":"row-spread","x":174.5,"y":468,"wires":[]},{"id":"6d1092d.9a0fc6c","type":"ui_text","z":"b97f8584.9327e8","group":"698bac65.f9d734","order":0,"width":0,"height":0,"name":"device_contact","label":"Contct","format":"{{msg.payload.device_contact}}","layout":"row-spread","x":182.5,"y":507,"wires":[]},{"id":"faa7cd8d.0dcaf","type":"ui_text","z":"b97f8584.9327e8","group":"698bac65.f9d734","order":0,"width":0,"height":0,"name":"device_position","label":"Position","format":"{{msg.payload.position.latitude}}, {{msg.payload.position.longitude}}","layout":"row-spread","x":180.5,"y":550,"wires":[]},{"id":"151a3538.bf905b","type":"inject","z":"b97f8584.9327e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":99,"y":147,"wires":[[]]}]