flows/demo.json
[{"id":"b97f8584.9327e8","type":"tab","label":"Flow 1"},{"id":"eb980e54.5ac03","type":"tab","label":"Flow 2"},{"id":"eca65a06.2d09c8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#246660","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue","reset":false},"themeState":{"base-color":{"default":"#246660","value":"#246660","edited":true},"page-titlebar-backgroundColor":{"value":"#246660","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#3fb1a7","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#246660","edited":false},"widget-borderColor":{"value":"#333333","edited":false}}},"site":{"name":"IoT","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c8406552.b42ea8","type":"ui_group","z":"","name":"Default","tab":"585ade3c.52b5d","disp":false,"width":"12"},{"id":"585ade3c.52b5d","type":"ui_tab","z":"","name":"Login","icon":"login"},{"id":"46ede668.8cc488","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":2},{"id":"698bac65.f9d734","type":"ui_group","z":"","name":"Device Info","tab":"46ede668.8cc488","order":3,"disp":true,"width":"6"},{"id":"fb5831c3.5f44d","type":"ui_group","z":"","name":"Current data","tab":"46ede668.8cc488","order":2,"disp":true,"width":"6"},{"id":"e9b79d3e.1fc56","type":"ui_group","z":"","name":"User","tab":"46ede668.8cc488","order":1,"disp":true,"width":"6"},{"id":"6baf5594.dea02c","type":"ui_tab","z":"","name":"Reports","icon":"reports","order":3},{"id":"745db9e3.7f2848","type":"ui_group","z":"","name":"Select","tab":"6baf5594.dea02c","order":1,"disp":true,"width":"6"},{"id":"d6faa619.541d48","type":"ui_group","z":"","name":"Data","tab":"6baf5594.dea02c","order":2,"disp":true,"width":"12"},{"id":"1c6d899d.4aa126","type":"http request","z":"b97f8584.9327e8","name":"get device data","method":"GET","ret":"txt","url":"","tls":"","x":423.5,"y":274,"wires":[["bc8cc9bd.995118"]]},{"id":"61117852.772738","type":"ui_gauge","z":"b97f8584.9327e8","name":"voltage","group":"fb5831c3.5f44d","order":1,"width":0,"height":0,"gtype":"gage","title":"Voltage","label":"V","format":"{{value}}","min":0,"max":"500","colors":["#ab0712","#41c93e","#b33520"],"seg1":"","seg2":"","x":546.5,"y":347,"wires":[]},{"id":"21025169.fd516e","type":"function","z":"b97f8584.9327e8","name":"parse_latest_data","func":"voltage = msg.payload.latest_data.voltage;\npower = msg.payload.latest_data.power;\nmsg1 = {};\nmsg2 = {};\nmsg1.payload = voltage;\nmsg2.payload = power;\nmsg3 = {};\nmsg3.location = {\n    lat: msg.payload.position.latitude,\n    lon: msg.payload.position.longitude\n}\n\nreturn [msg1, msg2, msg3];","outputs":"3","noerr":0,"x":335.5,"y":366,"wires":[["61117852.772738"],["6f691c47.3c7e14","f1a28453.f50cf8"],["7c95ff5a.6037a"]]},{"id":"6f691c47.3c7e14","type":"ui_gauge","z":"b97f8584.9327e8","name":"power","group":"fb5831c3.5f44d","order":2,"width":0,"height":0,"gtype":"gage","title":"Power","label":"Watts","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":536.5,"y":388,"wires":[]},{"id":"bbb64849.738f58","type":"ui_form","z":"b97f8584.9327e8","name":"login_form","label":"Login","group":"c8406552.b42ea8","order":1,"width":0,"height":0,"options":[{"label":"Username","value":"username","type":"text","required":true},{"label":"Password","value":"password","type":"password","required":true}],"formValue":{"username":"","password":""},"payload":"","topic":"Login Form","x":66.5,"y":32,"wires":[["cd7611a1.76b1d"]]},{"id":"49996d11.7b7914","type":"http request","z":"b97f8584.9327e8","name":"","method":"POST","ret":"obj","url":"","tls":"","x":321.5,"y":24,"wires":[["626efa9e.6f58a4"]]},{"id":"cd7611a1.76b1d","type":"function","z":"b97f8584.9327e8","name":"auth_request","func":"msg.url = global.get('server_url') + global.get('apis').login_path;\nmsg.headres = {\n    \"content-type\": \"application/json\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":194.5,"y":93,"wires":[["49996d11.7b7914"]]},{"id":"626efa9e.6f58a4","type":"function","z":"b97f8584.9327e8","name":"auth_check","func":"notification_msg = {};\nui_msg = {};\nif(msg.statusCode == 200)\n{\n    ui_msg.payload = 0;\n    flow.set('user_token', msg.payload.token)\n    notification_msg.payload = \"Login success\";\n}\nelse\n{\n    ui_msg.payload = 1;\n    msg.payload = {'token': null};\n    notification_msg.payload = \"Login error\";\n}\nreturn [ui_msg, notification_msg];","outputs":"2","noerr":0,"x":500.5,"y":30,"wires":[["fac6f9f9.29ccd8","c7402a69.a66d88"],["ddb97675.336968"]]},{"id":"95757609.7d4d58","type":"function","z":"b97f8584.9327e8","name":"make_request","func":"var token = flow.get('user_token');\nif(token){\n    msg.token = token;\n    msg.url = global.get('server_url') + global.get('apis').user;\n    msg[\"headers\"] = {\n        \"content-type\": \"application/json\",\n        \"Authorization\": \"Token \" + token\n    }\n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"x":583.5,"y":216,"wires":[["3a2e110b.cbf92e","7d6ab562.1e63ec"]]},{"id":"fac6f9f9.29ccd8","type":"ui_ui_control","z":"b97f8584.9327e8","name":"ui control","x":696.5,"y":85,"wires":[[]]},{"id":"a4811ae2.d4beb8","type":"inject","z":"b97f8584.9327e8","name":"counter","topic":"","payload":"","payloadType":"date","repeat":"80","crontab":"","once":true,"x":99.5,"y":224,"wires":[["125d40d5.28425f"]]},{"id":"125d40d5.28425f","type":"function","z":"b97f8584.9327e8","name":"auth check","func":"var token = flow.get('user_token');\nvar msg1 = null;\nif(token)\n{\n    msg.payload = 0;\n    msg1 = {};\n    msg1.payload = {}\n    msg1.payload.token = token;\n    \n}\nelse\n    msg.payload = 1;\nreturn [msg, msg1];","outputs":"2","noerr":0,"x":297.5,"y":224,"wires":[["fac6f9f9.29ccd8"],["95757609.7d4d58"]]},{"id":"62c2342c.e19ebc","type":"debug","z":"b97f8584.9327e8","name":"","active":true,"console":"false","complete":"true","x":1350.5,"y":176,"wires":[]},{"id":"f1a28453.f50cf8","type":"ui_chart","z":"b97f8584.9327e8","name":"power chart","group":"fb5831c3.5f44d","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":557.5,"y":442,"wires":[[],[]]},{"id":"fbaf41e4.a7fb6","type":"ui_button","z":"b97f8584.9327e8","name":"logout","group":"e9b79d3e.1fc56","order":7,"width":"3","height":"1","label":"Logout","color":"","bgcolor":"","icon":"logout","payload":"","payloadType":"str","topic":"","x":174.5,"y":656,"wires":[["40cc7a7a.7bd674"]]},{"id":"ddb97675.336968","type":"ui_toast","z":"b97f8584.9327e8","position":"bottom right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Login error","x":900.5,"y":63,"wires":[]},{"id":"40cc7a7a.7bd674","type":"function","z":"b97f8584.9327e8","name":"logout","func":"msg.payload = 1;\nglobal.set('user_token', null);\nreturn msg;","outputs":1,"noerr":0,"x":332.5,"y":693,"wires":[["ec0071ae.1ed8"]]},{"id":"ec0071ae.1ed8","type":"ui_ui_control","z":"b97f8584.9327e8","name":"ui control","x":504.5,"y":655,"wires":[[]]},{"id":"3a2e110b.cbf92e","type":"http request","z":"b97f8584.9327e8","name":"get user data","method":"GET","ret":"obj","url":"","tls":"","x":896.5,"y":202,"wires":[["6e68b5c.657c64c","b6367684.4770a8","c6b9d674.ef1b18","15dd44db.fdfd3b","f319ffe5.62795"]]},{"id":"6e68b5c.657c64c","type":"ui_text","z":"b97f8584.9327e8","group":"e9b79d3e.1fc56","order":1,"width":0,"height":0,"name":"","label":"Name","format":"{{msg.payload.name}}","layout":"row-spread","x":1145.5,"y":219,"wires":[]},{"id":"b6367684.4770a8","type":"ui_text","z":"b97f8584.9327e8","group":"e9b79d3e.1fc56","order":2,"width":0,"height":0,"name":"","label":"Description","format":"{{msg.payload.description}}","layout":"row-spread","x":1164.5,"y":263,"wires":[]},{"id":"c6b9d674.ef1b18","type":"ui_template","z":"b97f8584.9327e8","group":"e9b79d3e.1fc56","name":"devices_list","order":3,"width":"6","height":"3","format":"<div>\n    Devices:\n    <ul>\n        <li ng-repeat=\"dev in msg.payload.devices\">\n            <label>{{dev.ip_address}}</label>\n        </li>\n    </ul>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":1165.5,"y":307,"wires":[[]]},{"id":"3258b3ac.23d2ec","type":"ui_text","z":"b97f8584.9327e8","group":"698bac65.f9d734","order":1,"width":0,"height":0,"name":"ip_address","label":"","format":"{{msg.payload.ip_address}}","layout":"row-center","x":174.5,"y":468,"wires":[]},{"id":"151a3538.bf905b","type":"inject","z":"b97f8584.9327e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":99,"y":147,"wires":[[]]},{"id":"7d6ab562.1e63ec","type":"function","z":"b97f8584.9327e8","name":"get device data","func":"if(msg.payload)\n{\n    var devices = msg.payload.devices;\n    var selected_device = '';\n    var selected_from = '';\n    if(devices)\n    {\n        selected_device = devices[0].ip_address;\n        selected_from = 'auto';\n    }\n    else\n    {\n        selected_device = msg.payload;\n        selected_from = 'string';\n        if(typeof(selected_device)!=\"string\")\n            return null;\n    }\n    if(selected_device){\n        msg = {};\n        var token = flow.get('user_token');\n        msg.selected_device = selected_device;\n        msg.selected_from = selected_from;\n        msg.url = global.get('server_url') + global.get('apis').staticdata + selected_device;\n        msg[\"headers\"] = {\n                \"content-type\": \"application/json\",\n                \"Authorization\": \"Token \" + token\n            };\n        return msg;\n    }\n}\nreturn null;","outputs":1,"noerr":0,"x":811.5,"y":332,"wires":[["1c6d899d.4aa126"]]},{"id":"7c95ff5a.6037a","type":"openweathermap","z":"b97f8584.9327e8","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":412.5,"y":475,"wires":[["1442ae28.b0ea32"]]},{"id":"1442ae28.b0ea32","type":"ui_template","z":"b97f8584.9327e8","group":"698bac65.f9d734","name":"Weather Info","order":4,"width":0,"height":0,"format":"<div>\n    <h4>Weather Info</h4>\n    <ul>\n    <li>Location: <label>{{msg.location.city}}</label></li>\n    <li>Weather: <label>{{msg.payload.detail}}</label></li>\n    <li>Humidity: <label>{{msg.payload.humidity}}</label></li>\n    <li>Temperature: <label>{{msg.payload.tempc}}&deg;C</label></li>\n    </ul>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":629.5,"y":500,"wires":[[]]},{"id":"bc8cc9bd.995118","type":"json","z":"b97f8584.9327e8","name":"","x":135.5,"y":366,"wires":[["21025169.fd516e","3258b3ac.23d2ec","609839f1.0522f8","eceffdd2.29224"]]},{"id":"7b5c5626.054818","type":"ui_template","z":"b97f8584.9327e8","group":"698bac65.f9d734","name":"","order":2,"width":0,"height":0,"format":"<div>\n    <ul>\n        <li>Op: <label>{{msg.payload.operator.name}}, {{msg.payload.operator.contact}}</label></li>\n        <li>Installatiod date: <label>{{msg.payload.installation_date}}</label></li>\n        <li>Last update: <label>{{msg.payload.latest_data.data_arrival_time}}</label></li>\n        <li>State: <label>{{msg.payload.latest_data.state}}</label></li>\n        <li>Contact: <label>{{msg.payload.device_contact}}</label></li>\n        <li>Equipments running: \n            <ul>\n                <li ng-repeat=\"load in msg.payload.loads\">\n                    <label>{{load.name}}</label>-{{load.qty}}\n                </li>\n            </ul>\n        </li>\n    </ul>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":296.5,"y":560,"wires":[[]]},{"id":"d6e7a5f9.6e74a8","type":"ui_dropdown","z":"b97f8584.9327e8","name":"","label":"Select","group":"698bac65.f9d734","order":0,"width":0,"height":0,"passthru":true,"options":[],"payload":"","topic":"","x":279.5,"y":612,"wires":[["a0f734bf.79e138"]]},{"id":"241a8e4f.649172","type":"ui_template","z":"b97f8584.9327e8","group":"698bac65.f9d734","name":"","order":0,"width":"6","height":"4","format":"<div>\n    <label>Last week report - {{msg.report_key}}</label>\n    <ul>\n        <li ng-repeat=\"(key, value) in msg.payload\">\n            {{key}}:<label>{{value}}</label>\n        </li>\n    </ul>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":620.5,"y":566,"wires":[[]]},{"id":"a0f734bf.79e138","type":"function","z":"b97f8584.9327e8","name":"last day report","func":"var report_key = msg.payload;\nif(typeof(report_key) == \"string\")\n{\n    var data = flow.get('latest_data')\n    var msg1 = {}\n    var last_day_data = data.last_day_report[report_key];\n    var dateFormat = global.get('utils').methods.formatDatetime;\n    var new_last_day_data = {\"report_key\": report_key};\n    if(report_key == \"energy\")\n    {\n        new_last_day_data.initial = last_day_data.initial + \" KWH\";\n        new_last_day_data.final = last_day_data.final + \" KWH\";\n        new_last_day_data.total = (last_day_data.final - last_day_data.initial).toFixed(2) + \" KWH\";\n    }\n    else if(report_key == \"runtime\")\n    {\n        new_last_day_data.initial = last_day_data.initial + \" Minutes\";\n        new_last_day_data.final = last_day_data.final + \" Minutes\";\n        new_last_day_data.total = (last_day_data.final - last_day_data.initial) + \" Minutes\";\n    }\n    else if(report_key == \"power\" || report_key == \"voltage\" || report_key == \"current\")\n    {\n        var unit = '';\n        if(report_key == 'power')\n            unit = \"W\";\n        else if(report_key == \"voltage\")\n            unit = \"V\";\n        else if(report_key == \"current\")\n            unit = \"A\";\n        new_last_day_data.avg = last_day_data.avg + \" \" + unit;\n        new_last_day_data.maximum = last_day_data.maximum + \" \" + unit;\n        new_last_day_data.minimum = last_day_data.minimum + \" \" + unit;\n        new_last_day_data.maximum_time = dateFormat(last_day_data.maximum_time);\n        new_last_day_data.minimum_time = dateFormat(last_day_data.minimum_time);\n    }\n    msg1.report_key = report_key\n    msg1.payload = new_last_day_data;\n    return msg1;\n}\nreturn null;","outputs":1,"noerr":0,"x":442.5,"y":613,"wires":[["241a8e4f.649172"]]},{"id":"609839f1.0522f8","type":"function","z":"b97f8584.9327e8","name":"cache_data","func":"flow.set('latest_data', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":111.5,"y":564,"wires":[["c7dc4994.f33058"]]},{"id":"ae3caad8.5f0c68","type":"ui_dropdown","z":"b97f8584.9327e8","name":"","label":"Currently showing","group":"e9b79d3e.1fc56","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1188.5,"y":415,"wires":[["9a096c07.a38b2"]]},{"id":"15dd44db.fdfd3b","type":"function","z":"b97f8584.9327e8","name":"user's devices","func":"msg.options = [];\nmsg.payload.devices.map(function(device){\n    msg.options.push(device.ip_address);\n});\nreturn msg;","outputs":1,"noerr":0,"x":1175.5,"y":353,"wires":[["ae3caad8.5f0c68"]]},{"id":"c7402a69.a66d88","type":"delay","z":"b97f8584.9327e8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":599.5,"y":137,"wires":[["95757609.7d4d58"]]},{"id":"eceffdd2.29224","type":"function","z":"b97f8584.9327e8","name":"format_datetime","func":"var date = msg.payload.latest_data.data_arrival_time;\nvar method = global.get('utils').methods.formatDatetime;\nmsg.payload.latest_data.data_arrival_time = method(date);\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":515,"wires":[["7b5c5626.054818"]]},{"id":"c7dc4994.f33058","type":"function","z":"b97f8584.9327e8","name":"make_options","func":"msg.options = Object.keys(msg.payload.last_day_report);\nreturn msg;","outputs":1,"noerr":0,"x":109.5,"y":613,"wires":[["d6e7a5f9.6e74a8"]]},{"id":"6a34fd01.f966f4","type":"function","z":"b97f8584.9327e8","name":"get_device_events","func":"if(msg.payload)\n{\n    var devices = msg.payload.devices;\n    var selected_device = '';\n    var selected_from = '';\n    if(devices)\n    {\n        selected_device = devices[0].ip_address;\n        selected_from = 'auto';\n    }\n    else\n    {\n        selected_device = msg.payload;\n        selected_from = 'string';\n        if(typeof(selected_device)!=\"string\")\n            return null;\n    }\n    if(selected_device){\n        msg = {};\n        var token = flow.get('user_token');\n        msg.selected_device = selected_device;\n        msg.selected_from = selected_from;\n        msg.url = global.get('server_url') + global.get('apis').events + selected_device;\n        msg[\"headers\"] = {\n                \"content-type\": \"application/json\",\n                \"Authorization\": \"Token \" + token\n            };\n        return msg;\n    }\n}\nreturn null;","outputs":1,"noerr":0,"x":1179.5,"y":557,"wires":[["52b0a549.f02aec"]]},{"id":"9a096c07.a38b2","type":"function","z":"b97f8584.9327e8","name":"save_selected_device","func":"if(typeof(msg.payload) == 'string')\n{\n    flow.set('selected_device', msg.payload)\n}\nreturn msg;","outputs":1,"noerr":0,"x":1191.5,"y":486,"wires":[["7d6ab562.1e63ec","6a34fd01.f966f4"]]},{"id":"52b0a549.f02aec","type":"http request","z":"b97f8584.9327e8","name":"","method":"GET","ret":"obj","url":"","tls":"","x":1165.5,"y":625,"wires":[["ab2afedb.10d9b"]]},{"id":"5bf0edd1.035944","type":"ui_template","z":"b97f8584.9327e8","group":"e9b79d3e.1fc56","name":"device events","order":5,"width":"6","height":"5","format":"<div>\n    <h4>Events last week</h4>\n    <ul>\n        <li ng-repeat=\"event in msg.payload\">\n            <label>{{event.event}}</label>\n            at\n            <label>{{event.time}}</label>\n        </li>\n    </ul>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":1445.5,"y":699,"wires":[[]]},{"id":"ab2afedb.10d9b","type":"function","z":"b97f8584.9327e8","name":"format devicw events data","func":"var formatDatetime = global.get('utils').methods.formatDatetime\nmsg.payload.map(function(event){\n    event.time = formatDatetime(event.time);    \n});\nreturn msg;","outputs":1,"noerr":0,"x":1210.5,"y":700,"wires":[["5bf0edd1.035944"]]},{"id":"835335da.b5a288","type":"ui_button","z":"b97f8584.9327e8","name":"","group":"e9b79d3e.1fc56","order":6,"width":"3","height":"1","label":"Refresh","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"","x":99.5,"y":297,"wires":[["125d40d5.28425f"]]},{"id":"9c5aa965.9495f8","type":"ui_button","z":"eb980e54.5ac03","name":"","group":"745db9e3.7f2848","order":5,"width":0,"height":0,"label":"Plot","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":231.5,"y":280,"wires":[["74fb9748.6e7a28"]]},{"id":"ef264c1b.d458c","type":"ui_date_picker","z":"eb980e54.5ac03","name":"","label":"Start date","group":"745db9e3.7f2848","order":2,"width":"3","height":"1","passthru":true,"topic":"","x":234.5,"y":141,"wires":[["130e9604.99bcba"]]},{"id":"6c8155f9.08b6bc","type":"ui_date_picker","z":"eb980e54.5ac03","name":"","label":"End Date","group":"745db9e3.7f2848","order":3,"width":"3","height":"1","passthru":true,"topic":"","x":235.5,"y":199,"wires":[["6b03d752.65ade8"]]},{"id":"6182038.616a5fc","type":"ui_dropdown","z":"eb980e54.5ac03","name":"","label":"Parameter","group":"745db9e3.7f2848","order":4,"width":0,"height":0,"passthru":true,"options":[],"payload":"","topic":"","x":769.5,"y":195,"wires":[["d0320303.f41c9"]]},{"id":"e574e105.bfced","type":"function","z":"eb980e54.5ac03","name":"select_parameters","func":"var data = msg.payload.data_parameters;\nif(data)\n{\n    msg.options = data;\n    flow.set(\"selected_device\", msg.payload.ip_address);\n}\nreturn msg;","outputs":1,"noerr":0,"x":789.5,"y":138,"wires":[["6182038.616a5fc"]]},{"id":"df436d01.d1d9b","type":"function","z":"eb980e54.5ac03","name":"make devices list","func":"var data = msg.payload.devices;\nif(data)\n{\n    var devices = [];\n    data.map(function(device){\n        devices.push(device.ip_address)\n    });\n    msg.options = devices;\n    flow.set(\"user_token\", msg.token);\n}\nreturn msg;","outputs":1,"noerr":0,"x":304.5,"y":27,"wires":[["33df2843.b5cd18"]]},{"id":"33df2843.b5cd18","type":"ui_dropdown","z":"eb980e54.5ac03","name":"","label":"Device","group":"745db9e3.7f2848","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":482.5,"y":27,"wires":[["8d05468f.6ec298"]]},{"id":"8d05468f.6ec298","type":"function","z":"eb980e54.5ac03","name":"get device static data","func":"if(msg.payload)\n{\n    var selected_device = '';\n    var selected_from = '';\n    selected_device = msg.payload;\n    selected_from = 'string';\n    if(typeof(selected_device)!=\"string\")\n        return null;\n    if(selected_device){\n        msg = {};\n        var token = flow.get(\"user_token\");\n        msg.selected_device = selected_device;\n        msg.selected_from = selected_from;\n        msg.url = global.get('server_url') + global.get('apis').staticdata + selected_device;\n        msg[\"headers\"] = {\n                \"content-type\": \"application/json\",\n                \"Authorization\": \"Token \" + token\n            };\n        return msg;\n    }\n}\nreturn null;","outputs":1,"noerr":0,"x":660.5,"y":27,"wires":[["c1622de.92e42d"]]},{"id":"b076e44f.f923d8","type":"debug","z":"eb980e54.5ac03","name":"","active":true,"console":"false","complete":"true","x":582.5,"y":679,"wires":[]},{"id":"c1622de.92e42d","type":"http request","z":"eb980e54.5ac03","name":"get device static data","method":"GET","ret":"obj","url":"","tls":"","x":802.5,"y":84,"wires":[["e574e105.bfced"]]},{"id":"f319ffe5.62795","type":"link out","z":"b97f8584.9327e8","name":"","links":["5459bd68.6de5d4"],"x":1113.5,"y":139,"wires":[]},{"id":"5459bd68.6de5d4","type":"link in","z":"eb980e54.5ac03","name":"","links":["f319ffe5.62795"],"x":93.5,"y":42,"wires":[["df436d01.d1d9b"]]},{"id":"130e9604.99bcba","type":"function","z":"eb980e54.5ac03","name":"set start date","func":"if(msg.payload)\n{\n    flow.set('start_date', msg.payload);\n}\nreturn msg;","outputs":1,"noerr":0,"x":438.5,"y":139,"wires":[[]]},{"id":"6b03d752.65ade8","type":"function","z":"eb980e54.5ac03","name":"set end date","func":"if(msg.payload)\n{\n    flow.set('end_date', msg.payload);\n}\nreturn msg;","outputs":1,"noerr":0,"x":442.5,"y":196,"wires":[[]]},{"id":"d0320303.f41c9","type":"function","z":"eb980e54.5ac03","name":"set plot parameter","func":"if(typeof(msg.payload) == \"string\")\n{\n    flow.set(\"selected_parameter\", msg.payload);\n}\nreturn msg;","outputs":1,"noerr":0,"x":793.5,"y":257,"wires":[[]]},{"id":"74fb9748.6e7a28","type":"function","z":"eb980e54.5ac03","name":"get device dynamic data","func":"var device = flow.get(\"selected_device\");\nvar start_date = flow.get(\"start_date\");\nvar end_date = flow.get(\"end_date\");\nvar selected_parameter = flow.get(\"selected_parameter\");\n\nvar x_params = \"time\";\nvar y_params = selected_parameter;\nvar date_parser = global.get('utils').methods.formatUTCDateFromTimestamp;\nvar start_time = date_parser(start_date);\nvar end_time = date_parser(end_date);\n\nvar token = flow.get(\"user_token\");\nvar query_string = \"?x_params=\"+x_params+\"&y_params=\"+y_params+\"&start_time=\"+start_time+\"&end_time=\"+end_time;\nmsg.url = global.get('server_url') + global.get('apis').dynamicdata + device + query_string;\n\nmsg[\"headers\"] = {\n        \"content-type\": \"application/json\",\n        \"Authorization\": \"Token \" + token\n    };\n\n\nmsg.selected_device = device;\nmsg.from_date = start_time;\nmsg.to_date = end_time;\nmsg.selected_parameter = selected_parameter;\nreturn msg;","outputs":1,"noerr":0,"x":463.5,"y":277,"wires":[["ef2daf5c.5679a"]]},{"id":"ef2daf5c.5679a","type":"http request","z":"eb980e54.5ac03","name":"","method":"GET","ret":"obj","url":"","tls":"","x":678.5,"y":327,"wires":[["2b52be83.bab4d2"]]},{"id":"2b52be83.bab4d2","type":"function","z":"eb980e54.5ac03","name":"prepare data for chart","func":"msg.payload = msg.payload.dynamic_data;\nmsg1 = {};\nmsg1.payload = msg.payload.dynamic_data\nreturn msg1;","outputs":1,"noerr":0,"x":841.5,"y":435,"wires":[[]]},{"id":"8d35a350.c90a4","type":"inject","z":"eb980e54.5ac03","name":"","topic":"","payload":"","payloadType":"date","repeat":"50","crontab":"","once":true,"x":185.5,"y":604,"wires":[[]]}]