flows/demo
[{"id":"1c6d899d.4aa126","type":"http request","z":"b97f8584.9327e8","name":"get device data","method":"GET","ret":"txt","url":"http://localhost:8111/api/device/staticdata/0.0.0.11","tls":"","x":814.5,"y":279,"wires":[["bc8cc9bd.995118"]]},{"id":"8d7d7783.30da58","type":"ui_template","z":"b97f8584.9327e8","group":"698bac65.f9d734","name":"device_info_view","order":1,"width":0,"height":0,"format":"<div>\n    <div name=device_info>\n        <table>\n            <tbody>\n                <tr>\n                    <th>Device:</th>\n                    <th>{{msg.payload.ip_address}}</th>\n                </tr>\n                <tr>\n                    <th>Contact:</th>\n                    <th>{{msg.payload.device_contact}}</th>\n                </tr>\n                <tr>\n                    <th>Position:</th>\n                    <th>{{msg.payload.position}}</th>\n                </tr>\n            </tbody>\n        </table>\n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":336.5,"y":314,"wires":[[]]},{"id":"bc8cc9bd.995118","type":"json","z":"b97f8584.9327e8","name":"","x":121.5,"y":335,"wires":[["21025169.fd516e","8d7d7783.30da58"]]},{"id":"61117852.772738","type":"ui_gauge","z":"b97f8584.9327e8","name":"voltage","group":"fb5831c3.5f44d","order":1,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"V","format":"{{value}}","min":0,"max":"500","colors":["#ab0712","#41c93e","#b33520"],"x":546.5,"y":347,"wires":[]},{"id":"21025169.fd516e","type":"function","z":"b97f8584.9327e8","name":"parse_latest_data","func":"voltage = msg.payload.latest_data.voltage;\npower = msg.payload.latest_data.power;\nmsg1 = msg;\nmsg2 = {};\nmsg1.payload = voltage;\nmsg2.payload = power;\nreturn [msg1, msg2];","outputs":"2","noerr":0,"x":335.5,"y":366,"wires":[["61117852.772738"],["6f691c47.3c7e14","f1a28453.f50cf8"]]},{"id":"6f691c47.3c7e14","type":"ui_gauge","z":"b97f8584.9327e8","name":"power","group":"fb5831c3.5f44d","order":2,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"Watts","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"x":536.5,"y":388,"wires":[]},{"id":"bbb64849.738f58","type":"ui_form","z":"b97f8584.9327e8","name":"login_form","label":"Login","group":"c8406552.b42ea8","order":1,"width":0,"height":0,"options":[{"label":"Username","value":"username","type":"text","required":true},{"label":"Password","value":"password","type":"password","required":true}],"formValue":{"username":"","password":""},"payload":"","topic":"Login Form","x":66.5,"y":32,"wires":[["cd7611a1.76b1d"]]},{"id":"49996d11.7b7914","type":"http request","z":"b97f8584.9327e8","name":"","method":"POST","ret":"txt","url":"http://localhost:8111/api/api-token-auth/","tls":"","x":324.5,"y":30,"wires":[["626efa9e.6f58a4"]]},{"id":"cd7611a1.76b1d","type":"function","z":"b97f8584.9327e8","name":"auth_request","func":"msg.headres = {\n    \"content-type\": \"application/json\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":194.5,"y":93,"wires":[["49996d11.7b7914"]]},{"id":"626efa9e.6f58a4","type":"function","z":"b97f8584.9327e8","name":"auth_check","func":"notification_msg = {};\nui_msg = {};\nif(msg.statusCode == 200)\n{\n    ui_msg.payload = 0;\n    notification_msg.payload = \"Login success\";\n}\nelse\n{\n    ui_msg.payload = 1;\n    msg.payload = {'token': null};\n    notification_msg.payload = \"Login error\";\n}\nreturn [ui_msg, msg, notification_msg];","outputs":"3","noerr":0,"x":500.5,"y":30,"wires":[["fac6f9f9.29ccd8"],["b30aea5e.6d5648"],["ddb97675.336968"]]},{"id":"95757609.7d4d58","type":"function","z":"b97f8584.9327e8","name":"make_request","func":"if(msg.payload)\n{\n    var token = msg.payload.token;\n    if(token){\n        msg[\"headers\"] = {\n            \"content-type\": \"application/json\",\n            \"Authorization\": \"Token \" + token\n        }\n        return msg;\n    }\n}\nreturn null;","outputs":1,"noerr":0,"x":594.5,"y":228,"wires":[["3a2e110b.cbf92e","1c6d899d.4aa126"]]},{"id":"fac6f9f9.29ccd8","type":"ui_ui_control","z":"b97f8584.9327e8","name":"ui control","x":696.5,"y":85,"wires":[["95757609.7d4d58"]]},{"id":"a4811ae2.d4beb8","type":"inject","z":"b97f8584.9327e8","name":"counter","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"x":99.5,"y":224,"wires":[["98661871.31ce28"]]},{"id":"125d40d5.28425f","type":"function","z":"b97f8584.9327e8","name":"auth check","func":"if(msg.payload)\n{\n    if(msg.payload.token)\n        msg.payload = 0;\n    else\n        msg.payload = 1;\n}\nelse\n    msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":504.5,"y":122,"wires":[["fac6f9f9.29ccd8"]]},{"id":"b30aea5e.6d5648","type":"file","z":"b97f8584.9327e8","name":"write user token","filename":"user_token","appendNewline":false,"createDir":true,"overwriteFile":"true","x":702.5,"y":35,"wires":[]},{"id":"98661871.31ce28","type":"file in","z":"b97f8584.9327e8","name":"read user token","filename":"user_token","format":"utf8","x":204.5,"y":151,"wires":[["e776b6b4.73dd68"]]},{"id":"e776b6b4.73dd68","type":"json","z":"b97f8584.9327e8","name":"parse token","x":368.5,"y":228,"wires":[["125d40d5.28425f","95757609.7d4d58"]]},{"id":"62c2342c.e19ebc","type":"debug","z":"b97f8584.9327e8","name":"","active":true,"console":"false","complete":"true","x":1145.5,"y":178,"wires":[]},{"id":"f1a28453.f50cf8","type":"ui_chart","z":"b97f8584.9327e8","name":"power chart","group":"fb5831c3.5f44d","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"3000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":557.5,"y":442,"wires":[[],[]]},{"id":"fbaf41e4.a7fb6","type":"ui_button","z":"b97f8584.9327e8","name":"logout","group":"e9b79d3e.1fc56","order":4,"width":0,"height":0,"label":"Logout","color":"","bgcolor":"","icon":"logout","payload":"","payloadType":"str","topic":"","x":314.5,"y":499,"wires":[["e55efe1a.d534f","40cc7a7a.7bd674"]]},{"id":"ddb97675.336968","type":"ui_toast","z":"b97f8584.9327e8","position":"bottom right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Login error","x":900.5,"y":63,"wires":[]},{"id":"e55efe1a.d534f","type":"file","z":"b97f8584.9327e8","name":"","filename":"user_token","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":485.5,"y":499,"wires":[]},{"id":"40cc7a7a.7bd674","type":"function","z":"b97f8584.9327e8","name":"logout","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":445.5,"y":543,"wires":[["ec0071ae.1ed8"]]},{"id":"ec0071ae.1ed8","type":"ui_ui_control","z":"b97f8584.9327e8","name":"ui control","x":596.5,"y":553,"wires":[[]]},{"id":"3a2e110b.cbf92e","type":"http request","z":"b97f8584.9327e8","name":"get user data","method":"GET","ret":"obj","url":"localhost:8111/api/user/details/","tls":"","x":802.5,"y":226,"wires":[["62c2342c.e19ebc","6e68b5c.657c64c","b6367684.4770a8"]]},{"id":"6e68b5c.657c64c","type":"ui_text","z":"b97f8584.9327e8","group":"e9b79d3e.1fc56","order":2,"width":0,"height":0,"name":"","label":"Name","format":"{{msg.payload.name}}","layout":"row-spread","x":1145.5,"y":219,"wires":[]},{"id":"b6367684.4770a8","type":"ui_text","z":"b97f8584.9327e8","group":"e9b79d3e.1fc56","order":3,"width":0,"height":0,"name":"","label":"Description","format":"{{msg.payload.description}}","layout":"row-spread","x":1164.5,"y":263,"wires":[]},{"id":"698bac65.f9d734","type":"ui_group","z":"","name":"Device Info","tab":"46ede668.8cc488","order":3,"disp":true,"width":"6"},{"id":"fb5831c3.5f44d","type":"ui_group","z":"","name":"Current data","tab":"46ede668.8cc488","order":2,"disp":true,"width":"6"},{"id":"c8406552.b42ea8","type":"ui_group","z":"","name":"Default","tab":"585ade3c.52b5d","disp":false,"width":"12"},{"id":"e9b79d3e.1fc56","type":"ui_group","z":"","name":"User","tab":"46ede668.8cc488","order":1,"disp":true,"width":"6"},{"id":"46ede668.8cc488","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":2},{"id":"585ade3c.52b5d","type":"ui_tab","z":"","name":"Login","icon":"login"}]